:root { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  :root { font-family: 'Inter var', sans-serif; }
}

body{
  height: 100dvh;
  width: 100dvw; 
  background-color: black;
  overflow: hidden;
  margin: 0px;
  position: fixed;
}

#overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(to right top, #000000, #241119, #401a2e, #5c2248, #772c67, #5c2248, #401a2e, #241119, #000000);
  z-index: 2;
  animation: pulse 20s linear infinite;
  animation-direction: alternate;
}

#code-list{
  display: flex;
  flex-direction: column; 
  align-items: center;
}

#main-container{
  display: flex;
  height: 100%;
  width: 100%;
}

.hidden {
  display: none !important;
}

.name-container {
  color: white;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
  width: 50dvw;
}
.name-container a {
  color: white;
  text-decoration: none;
}
.name-container a:hover {
  text-decoration: underline;
}
.name{
  font-weight: 700; 
  font-size: 2rem; 
  margin:0px; 
  text-align: center;
  text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.1);
}
.icon-container{
  display: flex; 
  justify-content:center;
  align-items: center;
}
.icon{
  margin-right: 1rem;
}
.icon:hover{
  cursor: pointer;
}

.image-container{
  position: relative; 
  display: flex; 
  justify-content: center;
  align-items: center;
  height: 100dvh;
  width: 50dvw;  
}
.img-position{
  position: absolute;
  max-width: 100%;
}

.rotate-start{
  animation: rotate 2s ease-in-out;
  animation-delay: .5s;
}
.rotate-start-reverse{
  animation: rotate2 2s ease-in-out;
  animation-delay: .5s;
}
.rotate{
  animation: rotate 150s ease-in infinite;
}
.rotate2{
  animation: rotate2 100s ease-in infinite;
}
.rotate3{
  animation: rotate 125s ease-in infinite;
}
.rotate4{
  animation: rotate2 200s ease-in infinite;
}

@keyframes rotate {
  from{
    transform: rotate(0deg)
  }
  to{
    transform: rotate(360deg)
  }
}
@keyframes rotate2 {
  from{
    transform: rotate(0deg)
  }
  to{
    transform: rotate(-360deg)
  }
}
@keyframes pulse {
  from{
    opacity: .1
  }
  to{
    opacity: .5
  }
}

@media only screen and (max-width: 2000px) {
  #main-container{
    display: block;
  }
  .name-container{
    width: 100dvw;
    height: 100dvh;
    position: absolute;
    top: 0;
  }
  .image-container{
    width: 100dvw;
    height: 100dvh;
  }
}
@media only screen and (max-width: 1300px) {
  .img-position{
    max-width: unset;
    height: 100dvh;
  }
}